p{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}

h4{

    padding: 10px 20px 10px 20px;  
}

.left hide-on-med-and-down{

    font-size: 20px;


}

li{
    font-size: 20px;
}

a{
    font-size: 20px;
}

.stilo{
    font-size: 20px;
}

.black-text{
    font-size: 20px;
}
}